{% extends "base.html" %}

{% block title %}Route2Follow — Southeast Asia itinerary planner{% endblock %}

{% block styles %}
{{ super() }}

    <link rel=stylesheet type=text/css 
        href="{{ url_for('static', filename='css/ui.css') }}">
    <link rel=stylesheet type=text/css 
        href="{{ url_for('static', filename='css/components.css') }}">
    <link rel=stylesheet type=text/css 
        href="{{ url_for('static', filename='css/main.css') }}">



{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row">

        <div class="col-lg-3">
            <section>
                <div class="section-header">
                    <h2>Your trip</h2>
                </div>
                <!-- <div class="divider"></div> -->
                <div class="section-body">
                    <h3>Trip duration</h3>
                    <c-duration mark="duration" :def="[21,'days']" min="7"></c-duration>

                    <h3>Pace</h3>
                    <c-dual-toggle mark="pace" wrap="column-item" caption1="Slow" caption2="Fast" status="0"></c-dual-toggle> 

                </div>
            </section>
            <!-- <button id="testbtn" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">OK</button>    -->
            <section>
                <div class="section-header">
                    <h2>
                        Preferences
                        <!-- <span class="glyphicon glyphicon-question-sign help-sign" data-toggle="tooltip" title="What is the most interesting thing for you? Select your favorite activities to automatically modify your itineraries" data-placement="top">
                        </span> -->
                    </h2>
                </div>
                <div class="section-body">
                <!-- <div class="divider"></div> -->
                            
                    <h3 >Activities</h3> 

                    <c-cb-list mark="activitiesGroup"></c-cb-list>
                </div>
            </section>

        </div>
        <div class="col-lg-6">
            <h3 v-show="hasResults">Here are some itinerary ideas for your trip:</h3>
            <div style="text-align:right">
                <span class="plink" 
                    v-show="collapsed && hasResults"
                    v-on:click="toggleCollapsed">
                    <span class="glyphicon glyphicon-triangle-right"></span>
                    Expand all
                </span>
                <span class="plink" 
                    v-show="!collapsed && hasResults"
                    v-on:click="toggleCollapsed">
                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                    Collapse all
                </span>
            </div>
            <template v-for="r in results | orderBy 'relevance' -1" 
            track-by="$index" v-if="results.length>0" >
            <section v-bind:class="{'section--collapsed':r.collapsed}" >
                <div class="section-body">
                    <h3 v-on:click="toggleThis(r.innerIndex)" style="cursor:pointer;font-weight:bolder; color:#f98733">
                        <span 
                            class="glyphicon glyphicon-triangle-bottom"
                            v-show="!r.collapsed"
                            style="color:#64d214">
                        </span>
                        <span 
                            class="glyphicon glyphicon-triangle-right"
                            v-show="r.collapsed"
                            style="color:#64d214">
                        </span>
                        <span v-text="r.name"></span>
                    </h3>
                    <div class="subtitle" v-text="r.desc"></div>

                    <div v-show="!r.collapsed">
                        <div class="divider"></div>
                        <template v-for="p in r.points"  track-by="$index">
                            <tr v-if="p.transfer">
                                <td v-text="'day '+p.transfer.day"></td>
                                <td>
                                    <span v-text="p.transfer.desc"></span>
                                    <br/>
                                    <span v-text="p.transfer.comment"></span>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 90px;" v-text="'day '+p.day"></td>
                                <td style="padding: 20px 0" ><h4 style="font-size:160%"v-text="p.name"></h4></td>
                                <td v-text="p.nights+' night(s)'"></td>
                            </tr>
                            <tr v-if="p.post!=''">
                                <td v-text="'day '+r.duration"></td>
                                <td v-text="p.post"></td>
                            </tr>
                        </template>
                    </div>


                </div>
                
            </section>

            <div v-show="!r.collapsed" class="inter-ads">
                Check also this affordable small group tour:<br/>
                <div class="adventure">
                    <a class="adventure__name"
                    v-bind:href="adventures[$index].link" v-text="adventures[$index].name"></a>
                    <div class="adventure__description">
                        <p v-text="adventures[$index].desc"></p>
                        <a class="cta-btn btn btn-xs"
                        v-bind:href="adventures[$index].link">
                            GET MORE INFO 
                            <span class="glyphicon glyphicon-triangle-right">
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            </template>
            
            <div class="inter-ads">
                <div class="adventure"v-for="n in 4" >
                    <a class="adventure__name"
                    v-bind:href="adventures[$index].link" v-text="adventures[$index].name"></a>
                    <div class="adventure__description">
                        <p v-text="adventures[$index].desc"></p>
                        <a class="cta-btn btn btn-xs"
                        v-bind:href="adventures[$index].link">
                            GET MORE INFO 
                            <span class="glyphicon glyphicon-triangle-right">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <section>
                <div class="section-header">
                    <h2>Filters</h2>
                </div>
                <!-- <div class="divider"></div> -->
                <div class="section-body">
                    <h3>Countries</h3>
                        <c-cb-list mark="countriesGroup"></c-cb-list>
                </div>
            </section>
            <div style="padding-left:50px; padding-top:50px;" class="visible-lg-block">
                  <a href="http://www.kqzyfj.com/click-8016241-12272625-1436277960000" target="_top">
            <img src="http://www.awltovhc.com/image-8016241-12272625-1436277960000" width="160" height="600" alt="" border="0"/></a>
            </div>
        </div>
        

    </div>
    <div class="row">
        <div class="col-lg-12">

        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src ="{{ url_for('static', filename="lib/vue.js") }}" type="text/javascript"></script>
    <script src ="{{ url_for('static', filename="js/common.js") }}" type="text/javascript"></script>
    <script src ="{{ url_for('static', filename="js/components.js") }}" type="text/javascript"></script>
    <script src ="{{ url_for('static', filename="js/root.js") }}" type="text/javascript"></script>
    
    
{% endblock %}
